<p>
  <mat-toolbar color="primary">
    <span>List of Tasks by María Rodríguez</span>
    <span class="spacer"></span>
  </mat-toolbar>
</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="list-task">Tasks</a>

  <ul class=" navbar-nav mr-auto">
    <li class="nav-item d-none d-md-none d-lg-block">
      <a class="nav-link" routerLink="/create" routerLinkActive="active">New task</a>
    </li>

    <li class="nav-item d-block d-md-block d-lg-none">
      <mat-icon  class="nav-link" routerLink="/create" routerLinkActive="active" aria-hidden="false" aria-label="delete icon">add</mat-icon>
    </li>
  </ul>
</nav>
