<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="">
        <mat-icon>task</mat-icon>
        <span>Tasks</span>
      </button>
      <button mat-menu-item routerLink="/categories">
        <mat-icon>category</mat-icon>
        <span>Categories</span>
      </button>
      <button mat-menu-item routerLink="/create">
        <mat-icon>add</mat-icon>
        <span>Create task</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">List of Tasks by María</span>
</mat-toolbar>
