<p>
  <mat-toolbar color="primary">
    <span>List of Tasks by María Rodríguez</span>
    <span class="spacer"></span>
  </mat-toolbar>
</p>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="" routerLinkActive="active">Tasks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/create" routerLinkActive="active">New task</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a>
      </li>
    </ul>
  </div>
</nav>
