<div class="container-header">
    <h3><mat-icon>add</mat-icon>&nbsp;<u>Create task</u></h3>
</div>

<div class="container">
  <form [formGroup]="taskForm" (ngSubmit)="onSaveForm()" novalidate>

    <mat-form-field appearance="fill">
      <input matInput placeholder="New task *" type="text" formControlName="task" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.id" >
          {{category.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">
      Add task&nbsp;<mat-icon>add_task</mat-icon>
    </button>
  </form>
</div>
