<div class="container">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Task" name="task" [(ngModel)]="this.task.selectedEdit.task">
  </mat-form-field>
  <mat-radio-group aria-label="Select an option" name="state" [(ngModel)]="this.task.selectedEdit.state">
    <mat-radio-button value="Pendiente" >Pendiente</mat-radio-button>
    <mat-radio-button value="En proceso">En proceso</mat-radio-button>
  </mat-radio-group>

  <button mat-flat-button color="primary" (click)= "onSaveForm()">
    <mat-icon>save</mat-icon>
  </button>
</div>
