<div class="container">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Task" name="task" [(ngModel)]="this.task.selectedEdit.task">
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" name="state" [(ngModel)]="this.task.selectedEdit.state">
    <mat-radio-button value="Pending" >Pending</mat-radio-button>
    <mat-radio-button value="In process">In process</mat-radio-button>
    <mat-radio-button value="Done">Done</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select name="category" [(ngModel)]="this.task.selectedEdit.category">
        <mat-option *ngFor="let category of categories" [value]="category.category" >
          {{category.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <button mat-flat-button color="primary" (click)= "onSaveForm()">
    <mat-icon>save</mat-icon>
  </button>
</div>
