/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.container-header{
  width: 100%;
  color: #3f51b5;
  background-color: aliceblue;
  display: flex;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  word-break:normal;
}
